*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:auto;
    display:inline;
}

a{
    color:white;
    text-decoration: none;
}
#home{
    height:1000px;
    width:auto;
}
#home img{
    position:relative;
    top:150px;
    height:700px;
    width:1000px;
    padding:2rem;
}
#switch{
    height:140px;
    position:relative;
    top:-450px;
    left:940px;
    width:25px;
    background-color: rgba(35, 34, 34, 0.719);
}
#img1,#img2,#img3,#img4,#img5{
    display:flex;
    cursor: pointer;
    height:15px;
    width:15px;
    border-radius:50px;
    margin-top:1rem;
    margin-left:5px;
    background-color: antiquewhite;
}
#img1{
    background-color: red;
}
#para{
    position:relative;
    top:-400px;
    font-size:3rem;
    margin-left:4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#para p{
    display:flex;
    position:relative;
    top:15rem;
    background-color: red;
        width:64%;
        margin:0.5rem;
    color:white;
}
#latest{
    height:638px;
    width:350px;
    background-color: rgb(0, 0, 0);
    position:relative;
     top:-900px;
    left:1000px;
    color:rgb(255, 204, 0);
}
#latest p:first-child{
    text-align: center;
    padding-top:2rem;
    opacity:0.8
}
#latest p{
    text-align: center;
    justify-content: center;
}
#latest button{
    text-align: center;
    height:40px;
    width:50px;
    background-color: rgba(0, 0, 0, 0.963);
    color:white;
    font-size:0.9rem;
    border:rgba(255, 255, 255, 0.213) 1px solid;
}
#latest img{
    height:115px;
    width:116px;
    position:relative;
    top:60px;
}
span:first-child{
    position:relative;
    top:25px;
    padding-left:2rem;  
}
span{
    position:relative;
    top:25px;
    padding-left:10rem;  
}
#msg{
    padding-top:4rem;
}
#download{
    padding-top:2rem;
    display:flex;
    gap:2rem;
    text-align: center;
    justify-content: center;
}
#download button{
    width:130px;
}
#shop{
    position:relative;
    left:4rem;
    top:12rem;
    height:50px;
    width:250px;
    background-color: red;
    color:white;
    font-size:1.5rem;
    place-content:center;
    text-align: center;
    cursor: pointer;
}
#bottom{
    height:250px;
    width:auto;
    border:1px solid black;
    text-align:center;
    justify-content:center;
    position:relative;
    top:-5rem;
    color:white;
    background-image: linear-gradient(rgb(47, 0, 0),rgb(120, 14, 14),rgb(87, 7, 7));
}
.rcb{
    margin-top:2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    position: relative;
    top:-16rem;
    color:white
}
#rcb{
    color:red;
    margin-top:1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    position: relative;
    top:-15rem;
}
#bottom img{
    display:flex;
    text-align:left;
    margin-left:4rem;
    cursor: pointer;
    height:250px;
    width:260px;
}
#bottom button{
    height:3rem;
    width:200px;
    background-color:black;
    font-size:2rem;
    border:none;
    position: relative;
    top:-15rem;
}
#sponsor{
    height:900px;
    width:auto;
    color:white;
    font-size:1.5rem;
    background-color:rgb(52, 48, 48);
}
#sponsor h1{
    text-align: center;
    padding:1rem;
    font-size:4rem;
    color:white;
}
.main{
    text-align: center;
}
.main img{
    padding:1rem;
}
#principal img{
    padding:1rem;
}
#principal {
    text-align: center;
}

